# --- Arquivos de cache e compilados ---
__pycache__/
*.py[cod]
*$py.class

# --- Ambientes virtuais ---
.venv/
venv/
env/
ENV/
*.env
.env.local
.env.*
pip-log.txt
pip-delete-this-directory.txt

# --- Streamlit ---
frontend-minerva/.streamlit/secrets.toml
frontend-minerva/.streamlit/cache/
frontend-minerva/.streamlit/config.toml

# --- Dependências e builds ---
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# --- Logs e temporários ---
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.out
*.orig
*.stackdump

# --- Configurações de editor/IDE ---
.vscode/
.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace

# --- Testes e cobertura ---
.coverage
.tox/
.nox/
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb

# --- Banco de dados ---
*.sqlite
*.sqlite3
*.db
*.sql

# --- Arquivos do sistema ---
.DS_Store
Thumbs.db

# --- Cache de ferramentas ---
.mypy_cache/
.pyre/
.pytype/
__pypackages__/

# --- Docker ---
*.pid
*.seed
docker-compose.override.yml

# --- Java / Maven ---
backend-minerva/target/
backend-minerva/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- Spring Tools Suite (STS) ---
backend-minerva/.apt_generated
backend-minerva/.classpath
backend-minerva/.factorypath
backend-minerva/.project
backend-minerva/.settings/
backend-minerva/.springBeans
backend-minerva/.sts4-cache

# --- IntelliJ IDEA ---
*.iws
*.iml
*.ipr

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
